In [1]:
def add(a,b):
    return a+b
add(4, 6)

10

In [2]:
def MUL(a,b):
    m = a+b
    return m

In [3]:
MUL(10,101)

111

In [4]:
def add(a,b):
    c=a+b
    return c

print(add(3,4))

7

In [5]:
def add2(a,b):
    c = a+b

In [6]:
add2(3,4)

In [7]:
def say():
    return "Ho!"

In [8]:
say()

'Ho!'

In [9]:
def add(a,b):
    print(a,b,'의 합은', a+b, "입니다.")
    c = a+b
    return c

In [10]:
add(5,6)

5 6 의 합은 11 입니다.

11

In [11]:
test = add(3,4)
test

3 4 의 합은 7 입니다.

7

In [12]:
def add(a,b):
    return a+b

In [13]:
add(b=3, a=1)

4

In [14]:
def ma(a,b):
    return a-b

In [15]:
ma(5,7)

-2

In [16]:
ma(a=5,b=7)

-2

In [17]:
ma(1,2)

-1

In [18]:
def add_many(*j):
    print(j)
    result = 0
    for i in j:
        result = result+1
    return result

In [19]:
add_many(1,2,3,4,5,6)

(1, 2, 3, 4, 5, 6)

6

In [20]:
# *값은 맨 뒤로
def add_mul(a, *b):
    if a =='add':
        result = 0
        for i in b:
            result = result+i
    elif choice == 'mul':
        result = 1
        for i in b:
            result = resul*i
    return result

In [21]:
add_mul('add', 1,2,3,4,5,5,5,5,5,44,4,3,3,21)

110

In [22]:
def add_and_mul(a,b):
    return a+b,a*b

In [23]:
add_and_mul(3,4)

(7, 12)

In [24]:
result1, result2 = add_and_mul(1,2)

In [25]:
def add_and_mul(a,b):
    return a+b
    return a*b

In [26]:
add_and_mul(1,2)

3

In [27]:
def say_nic(a):
    if a == '오정헌':
        print(a,'은그린스완의 폭군입니다.')

In [28]:
say_nic('오정헌')

오정헌 은그린스완의 폭군입니다.

In [29]:
def sex(name, old, man=True):
    print("나의 이름은", name,'입니다.')
    print('나이는', old,'입니다')
    if man:
        print("남자")
    else:
        print('여자')

In [30]:
sex('오정헌',20,'여자')

나의 이름은 오정헌 입니다.
나이는 20 입니다
남자

In [31]:
def say_myself(name,old, man=True):
    print('나의 이름은',name,'입니다.')
    print('나의 나이는 ',old,'입니다.')
    if man:
        print('남자')
    else:
        print('미생물')

In [32]:
say_myself('이해강',25,'남자')

나의 이름은 이해강 입니다.
나의 나이는  25 입니다.
남자

In [33]:
a= 1
print(a)

1

In [34]:
def vartest():
    global a 
    a = a+1

In [35]:
vartest()

In [36]:
print(a)

2

In [37]:
a = [1,3,4,5,667,8]

def add(lst):
    total = 0
    for i in lst:
        total = total+1
    return total

add(a)

6

In [38]:
add = lambda a, b: a+b
result = add(3,4)
print(result)

7

In [39]:
result = 0

def add(num):
    global result
    result = num +result
    return result
    
print(add(3))
print(add(4))

3
7

In [40]:
result1 = 0
result2 = 0

def add1(num):
    global result1
    result1 = num +result1
    return result1
    
def ddd2(num):
    global result2
    result2 = num + result2
    return result2

print(add(3))
print(add(4))

10
14

In [41]:
class Calculator:
    def __init__(self):
        self.result = 0

    def add(self, num):
        self.result += num
        return self.result

cal1 = Calculator()
cal2 = Calculator()

print(cal1.add(3))
print(cal1.add(4))
print(cal2.add(3))
print(cal2.add(7))

3
7
3
10

In [42]:
class Cookie:
    pass

In [43]:
a = Cookie()
b = Cookie()

In [44]:
print(a)
print(b)

<__main__.Cookie object at 0x0000022CDE18CEB0>
<__main__.Cookie object at 0x0000022CDE18C5E0>

In [45]:
class FourCal:
    def setdata(self, first, second):
        self.first = first
        self.second = second

In [46]:
a = FourCal()
a.setdata(3,2)

In [47]:
a.first

3

In [48]:
a.second

2

In [49]:
class FourCal:
    def setdata(self, first, second):
        self.first = first
        self.second = second
        
    def add(self):
        result = self.first+self.second
        return result

In [50]:
a = FourCal()

In [51]:
a.setdata(3,4)

In [52]:
a.add()

7

In [53]:
class FourCal:
    def setdata(self, first, second):
        self.first = first
        self.second = second
        
    def add(self):
        result = self.first+self.second
        return result
    
    def minus(self):
        result = self.first-self.second
        return result
    
    def mul(self):
        result = self.first*self.second
        return result
    
    def nanum(self):
        result = self.first/self.second
        return result

In [54]:
a = FourCal()

In [55]:
a.setdata(3,4)

In [56]:
print(a.add())
print(a.mul())
print(a.nanum())

7
12
0.75

In [57]:
a = FourCal()
b = FourCal()
a.setdata(3,4)
b.setdata(60,70)

print(f'결과는 {a.add()}')
print(f'결과는 {b.add()}')

결과는 7
결과는 130

In [58]:
class FourCal:
    def __init__(self,first,second):
        self.first = first
        self.second = second
        
    def add(self):
        result = self.first+self.second
        return result
    
    def minus(self):
        result = self.first-self.second
        return result
    
    def mul(self):
        result = self.first*self.second
        return result
    
    def nanum(self):
        result = self.first/self.second
        return result

In [59]:
a = FourCal(2,3)

In [60]:
a.add()

5

In [72]:
class FourCal:
    def __init__(self,first,second):
        self.first = first
        self.second = second
        
    def add(self):
        result = self.first+self.second
        return result
    
    def minus(self):
        result = self.first-self.second
        return result
    
    def mul(self):
        result = self.first*self.second
        return result
    
    def div(self):
        result = self.first/self.second
        return result

In [73]:
a = FourCal()
print(f'a.first:{a.first()}')
print(f'a.second:{a.second()}')

TypeError: __init__() missing 2 required positional arguments: 'first' and 'second'

In [74]:
class MoreFourCal(FourCal):
    pass

In [75]:
a = MoreFourCal(6,3)

In [76]:
a.add()

9

In [77]:
class MoreFourCal(FourCal):
    def pow(self):
        result = self.first**self.second
        return result
    
    def add(self):
        result = self.first+self.second+1
        return result

In [78]:
Four= FourCal(3,5)
print(Four.add())

8

In [79]:
More = MoreFourCal(3,5)
print(More.add())

9

In [80]:
More.pow()

243

In [81]:
More.add()

9

## 메서드 오버드라이빙

In [84]:
a= FourCal(4,0)

In [85]:
a.div()

ZeroDivisionError: division by zero

In [86]:
class SelfFourCale(FourCal):
    def div(self):
        if self.second ==0:
            return 0
        else:
            return self.first/self.second

In [87]:
a = SelfFourCale(4,0)

In [88]:
a.div()

0

In [89]:
class Family:
    lastname = '김'

In [90]:
a = Family()

In [92]:
a.lastname

'김'

In [93]:
b= Family()

In [94]:
Family.lastname='이'

In [95]:
a.lastname

'이'

In [96]:
b.lastname

'이'

## 모듈

In [106]:
import mod1
print(mod1.add(3,4))

7

In [107]:
print(mod1.sub(3,4))

-1

In [108]:
from mod1 import add

In [109]:
add(4,6)

10

In [110]:
import mod1

In [112]:
mod1.__name__

'mod1'

### try: 오류날 확률
### except: 발생오류
#### 이 오류의 경우 발생 변수 출력

In [114]:
a = [1,2,3,4,5,6]
try:
    a[10]
except IndexError as e:
    print(e)

list index out of range

In [115]:
try:
    4/0
except ZeroDivisionError as e:
    print(e)

division by zero

In [116]:
try:
    f = open('C:/py_data/없는 파일.csv','r')
except:
    pass

In [118]:
# 오류나도 fianlly는 실행
a = [1,2,3,4,5,6,6]
try:
    print(a[100])
finally:
    print('찾음')

찾음

IndexError: list index out of range

In [119]:
try:
    age=int(input('나이를 입력하세요: '))
except:
    print('입력이 정확하지 않습니다.')
else:
    if age <= 18:
        print('미성년자는 출입금지입니다.')
    else:
        print('환영합니다.')

나이를 입력하세요: 50
환영합니다.

In [120]:
try:
    f = open("나없는파일", 'r')
except FileNotFoundError:
    pass